.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
rsconnect/
.DS_Store
inst/doc
/doc/
/Meta/
opencodecounts.Rproj
/.quarto/
README.html
**/*.quarto_ipynb
vignettes/*.html
vignettes/*.pdf
vignettes/*.md
vignettes/*.docx
vignettes/_publish_ids.yml
